doctype html
head
h3.user_name Welcome, x
img.user_image(src='' alt='')
button.logout_btn(type='submit') logout
form.search_form
  input.search_input(type='text')
  button.search_button(type='submit') search
